# to change user name and password you can use
# locally installed "htpasswd"
# or use online tool: http://www.htaccesstools.com/htpasswd-generator/

<%= USERNAME:ENCRYPTED_PASSWORD_FOR_BASIC_AUTH %>
(e.g. janedoe@test.com:$apr1$CRXYy6cy$.klyMAeHGi2fWu.XCH/Nd/)
